@using CahanMotors.Mvc.Extensions
@model CahanMotors.Entities.DTOs.CarListDto

@await Component.InvokeAsync("CarFilter")

<section class="cars-section-four v1 layout-radius">
    <div class="boxcar-container">
        <div class="boxcar-title-three wow fadeInUp">
            <ul class="breadcrumb">
                <li><a href="#">Ana səhifə</a></li>
                <li><span>Modellər</span></li>
            </ul>
            <h2>Modellər</h2>
        </div>
        <div class="row wow fadeInUp">
            <!-- car-block-four -->
            @foreach (var item in Model.Cars)
            {
            <div class="car-block-four col-xl-3 col-lg-4 col-md-6 col-sm-6">
                <div class="inner-box">
                    <div class="image-box">
                        <figure class="image">
                            <a href="/Modeller/@Url.FriendlyUrlHelper(item.Name).ToLower()/@item.Id"><img src="~/img/@item.ThumbNail" alt="@item.Name - CahanMotors avtosalon"></a>
                        </figure>
                    </div>
                    <div class="content-box">
                        <h6 class="title">
                            <a>
                                @item.Name
                            </a>
                        </h6>
                        <ul>
                            <li><i class="flaticon-speedometer"></i>@item.FuelType</li>
                            <li><i class="flaticon-gearbox"></i>@item.Transmission</li>
                        </ul>
                        <div class="btn-box">
                            <small>₼@item.Price</small>
                            <a href="/Modeller/@Url.FriendlyUrlHelper(item.Name).ToLower()/@item.Id" class="details">
                                Ətraflı
                                bax<svg xmlns="http://www.w3.org/2000/svg" width="14" height="14"
                                        viewBox="0 0 14 14" fill="none">
                                    <g clip-path="url(#clip0_601_4346)">
                                        <path d="M13.6109 0H5.05533C4.84037 0 4.66643 0.173943 4.66643 0.388901C4.66643 0.603859 4.84037 0.777802 5.05533 0.777802H12.6721L0.113697 13.3362C-0.0382246 13.4881 -0.0382246 13.7342 0.113697 13.8861C0.18964 13.962 0.289171 14 0.388666 14C0.488161 14 0.587656 13.962 0.663635 13.8861L13.222 1.3277V8.94447C13.222 9.15943 13.3959 9.33337 13.6109 9.33337C13.8259 9.33337 13.9998 9.15943 13.9998 8.94447V0.388901C13.9998 0.173943 13.8258 0 13.6109 0Z"
                                              fill="red" />
                                    </g>
                                    <defs>
                                        <clipPath id="clip0_601_4346">
                                            <rect width="14" height="14" fill="white" />
                                        </clipPath>
                                    </defs>
                                </svg>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            }
            
            <!-- car-block-four -->
        </div>

        <div class="pagination-sec">
            <nav class="pagination-area">
                <ul class="pagination justify-content-center">

                    @{
                        if (Model.ShowPrevious)
                        {
                            if (Model.BrendId != null && Model.ModelId != null)
                            {
                                <li class="page-item">
                                    <a asp-route-currentPage="@(Model.CurrentPage - 1)"
                                       asp-route-brendId="@Model.BrendId.Value"
                                       asp-route-modelId="@Model.ModelId.Value"
                                       asp-route-isAscending="@Model.IsAscending"
                                       asp-route-pageSize="@Model.PageSize">
                                        <i class="fa fa-angle-left"></i>
                                    </a>
                                </li>
                            }
                            else if (Model.BrendId != null)
                            {
                                <li class="page-item">
                                    <a asp-route-currentPage="@(Model.CurrentPage - 1)"
                                       asp-route-brendId="@Model.BrendId.Value"
                                       asp-route-isAscending="@Model.IsAscending"
                                       asp-route-pageSize="@Model.PageSize">
                                        <i class="fa fa-angle-left"></i>
                                    </a>
                                </li>
                            }
                            else if (Model.ModelId != null)
                            {
                                <li class="page-item">
                                    <a asp-route-currentPage="@(Model.CurrentPage - 1)"
                                       asp-route-modelId="@Model.ModelId.Value"
                                       asp-route-isAscending="@Model.IsAscending"
                                       asp-route-pageSize="@Model.PageSize">
                                        <i class="fa fa-angle-left"></i>
                                    </a>
                                </li>
                            }
                            else
                            {
                                <li class="page-item">
                                    <a asp-route-currentPage="@(Model.CurrentPage - 1)"
                                       asp-route-isAscending="@Model.IsAscending"
                                       asp-route-pageSize="@Model.PageSize">
                                        <i class="fa fa-angle-left"></i>
                                    </a>
                                </li>
                            }
                        }

                        for (int i = 1; i <= Model.TotalPages; i++)
                        {
                            if (Model.BrendId != null && Model.ModelId != null)
                            {
                                <li class="page-item @(i == Model.CurrentPage ? "current" : "")">
                                    <a asp-route-currentPage="@i"
                                       asp-route-brendId="@Model.BrendId.Value"
                                       asp-route-modelId="@Model.ModelId.Value"
                                       asp-route-isAscending="@Model.IsAscending"
                                       asp-route-pageSize="@Model.PageSize">
                                        @i
                                    </a>
                                </li>
                            }
                            else if (Model.BrendId != null)
                            {
                                <li class="page-item @(i == Model.CurrentPage ? "current" : "")">
                                    <a asp-route-currentPage="@i"
                                       asp-route-brendId="@Model.BrendId.Value"
                                       asp-route-isAscending="@Model.IsAscending"
                                       asp-route-pageSize="@Model.PageSize">
                                        @i
                                    </a>
                                </li>
                            }
                            else if (Model.ModelId != null)
                            {
                                <li class="page-item @(i == Model.CurrentPage ? "current" : "")">
                                    <a asp-route-currentPage="@i"
                                       asp-route-modelId="@Model.ModelId.Value"
                                       asp-route-isAscending="@Model.IsAscending"
                                       asp-route-pageSize="@Model.PageSize">
                                        @i
                                    </a>
                                </li>
                            }
                            else
                            {
                                <li class="page-item @(i == Model.CurrentPage ? "current" : "")">
                                    <a asp-route-currentPage="@i"
                                       asp-route-isAscending="@Model.IsAscending"
                                       asp-route-pageSize="@Model.PageSize">
                                        @i
                                    </a>
                                </li>
                            }
                        }

                        if (Model.ShowNext)
                        {
                            if (Model.BrendId != null && Model.ModelId != null)
                            {
                                <li class="page-item">
                                    <a asp-route-currentPage="@(Model.CurrentPage + 1)"
                                       asp-route-brendId="@Model.BrendId.Value"
                                       asp-route-modelId="@Model.ModelId.Value"
                                       asp-route-isAscending="@Model.IsAscending"
                                       asp-route-pageSize="@Model.PageSize">
                                        <i class="fa fa-angle-right"></i>
                                    </a>
                                </li>
                            }
                            else if (Model.BrendId != null)
                            {
                                <li class="page-item">
                                    <a asp-route-currentPage="@(Model.CurrentPage + 1)"
                                       asp-route-brendId="@Model.BrendId.Value"
                                       asp-route-isAscending="@Model.IsAscending"
                                       asp-route-pageSize="@Model.PageSize">
                                        <i class="fa fa-angle-right"></i>
                                    </a>
                                </li>
                            }
                            else if (Model.ModelId != null)
                            {
                                <li class="page-item">
                                    <a asp-route-currentPage="@(Model.CurrentPage + 1)"
                                       asp-route-modelId="@Model.ModelId.Value"
                                       asp-route-isAscending="@Model.IsAscending"
                                       asp-route-pageSize="@Model.PageSize">
                                        <i class="fa fa-angle-right"></i>
                                    </a>
                                </li>
                            }
                            else
                            {
                                <li class="page-item">
                                    <a asp-route-currentPage="@(Model.CurrentPage + 1)"
                                       asp-route-isAscending="@Model.IsAscending"
                                       asp-route-pageSize="@Model.PageSize">
                                        <i class="fa fa-angle-right"></i>
                                    </a>
                                </li>
                            }
                        }
                    }

                </ul>
            </nav>
        </div>
    </div>
</section>
<!-- End shop section two -->