@using CahanMotors.Mvc.Extensions
@model CahanMotors.Mvc.Models.CarHomeViewModel

<section class="cars-section-eleven pt-0 mt-5">
    <div class="boxcar-container">
        <div class="boxcar-title wow fadeInUp">
            <h2>Modellər</h2>
            <a href="/modeller" class="btn-title">
                Hamısına bax <svg xmlns="http://www.w3.org/2000/svg" width="14"
                                 height="14" viewBox="0 0 14 14" fill="none">
                    <g clip-path="url(#clip0_601_243)">
                        <path d="M13.6109 0H5.05533C4.84037 0 4.66643 0.173943 4.66643 0.388901C4.66643 0.603859 4.84037 0.777802 5.05533 0.777802H12.6721L0.113697 13.3362C-0.0382246 13.4881 -0.0382246 13.7342 0.113697 13.8861C0.18964 13.962 0.289171 14 0.388666 14C0.488161 14 0.587656 13.962 0.663635 13.8861L13.222 1.3277V8.94447C13.222 9.15943 13.3959 9.33337 13.6109 9.33337C13.8259 9.33337 13.9998 9.15943 13.9998 8.94447V0.388901C13.9998 0.173943 13.8258 0 13.6109 0Z"
                              fill="#000" />
                    </g>
                    <defs>
                        <clipPath id="clip0_601_243">
                            <rect width="14" height="14" fill="white" />
                        </clipPath>
                    </defs>
                </svg>
            </a>
        </div>

        <div class="tab-content wow fadeInUp" data-wow-delay="200ms" id="nav-tabContent">
            <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                <div class="row">
                    @foreach (var item in Model.CarListDto.Cars)
                    {
                        <div class="car-block-eleven col-lg-3 col-md-6 col-sm-12">
                            <div class="inner-box">
                                <div class="image-box">
                                    <figure class="image">
                                        <a href="/Modeller/@Url.FriendlyUrlHelper(item.Name).ToLower()/@item.Id">
                                            <img src="~/img/@item.ThumbNail"
                                                 alt="@item.Name Cahanmotors">
                                        </a>
                                    </figure>
                                    <span>Yeni</span>
                                </div>
                                <div class="content-box">
                                    <h6 class="title"><a href="/Modeller/@Url.FriendlyUrlHelper(item.Name).ToLower()/@item.Id">@item.Name</a></h6>
                                    <div class="text"></div>
                                    <ul>
                                        <li><i class="flaticon-speedometer"></i>0 km</li>
                                        <li><i class="flaticon-gasoline-pump"></i>@item.FuelType</li>
                                        <li><i class="flaticon-gearbox"></i>@item.Transmission</li>
                                        <li>
                                            <svg width="16" height="17" viewBox="0 0 16 17" fill="none"
                                                 xmlns="http://www.w3.org/2000/svg">
                                                <g clip-path="url(#clip0_2861_4601)">
                                                    <mask id="mask0_2861_4601" style="mask-type: luminance"
                                                          maskUnits="userSpaceOnUse" x="0" y="0" width="16"
                                                          height="17">
                                                        <path d="M0 0.692385H16V16.6924H0V0.692385Z" fill="white" />
                                                    </mask>
                                                    <g mask="url(#mask0_2861_4601)">
                                                        <path d="M7.38541 13.0049H8.61456M11.08 13.0049H12.3092M3.69791 13.0049H4.92706M7.38541 9.31738H8.61456M11.08 9.31738H12.3092M3.69791 9.31738H4.92706M0.625 6.23404H15.3821M11.6946 4.39029V1.31738M4.3125 4.39029V1.31738M3.09044 16.0674H12.9167C14.2783 16.0674 15.3821 14.9636 15.3821 13.6019V5.01201C15.3821 3.65038 14.2783 2.54654 12.9167 2.54654H3.09044C1.72881 2.54654 0.625 3.65038 0.625 5.01201V13.6019C0.625 14.9636 1.72881 16.0674 3.09044 16.0674Z"
                                                              stroke="black" stroke-miterlimit="10"
                                                              stroke-linecap="round" stroke-linejoin="round" />
                                                    </g>
                                                </g>
                                                <defs>
                                                    <clipPath id="clip0_2861_4601">
                                                        <rect width="16" height="16" fill="white"
                                                              transform="translate(0 0.692383)" />
                                                    </clipPath>
                                                </defs>
                                            </svg>@item.Year
                                        </li>
                                    </ul>
                                    <div class="btn-box">
                                        <small>₼ @item.Price</small>
                                        <a href="/Modeller/@Url.FriendlyUrlHelper(item.Name).ToLower()/@item.Id" class="details">
                                            Ətraflı bax
                                            <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14"
                                                 viewBox="0 0 14 14" fill="none">
                                                <g clip-path="url(#clip0_601_4346)">
                                                    <path d="M13.6109 0H5.05533C4.84037 0 4.66643 0.173943 4.66643 0.388901C4.66643 0.603859 4.84037 0.777802 5.05533 0.777802H12.6721L0.113697 13.3362C-0.0382246 13.4881 -0.0382246 13.7342 0.113697 13.8861C0.18964 13.962 0.289171 14 0.388666 14C0.488161 14 0.587656 13.962 0.663635 13.8861L13.222 1.3277V8.94447C13.222 9.15943 13.3959 9.33337 13.6109 9.33337C13.8259 9.33337 13.9998 9.15943 13.9998 8.94447V0.388901C13.9998 0.173943 13.8258 0 13.6109 0Z"
                                                          fill="red" />
                                                </g>
                                                <defs>
                                                    <clipPath id="clip0_601_4346">
                                                        <rect width="14" height="14" fill="white" />
                                                    </clipPath>
                                                </defs>
                                            </svg>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }

                </div>
            </div>
        </div>
    </div>
</section>